@import-normalize;
@import url('./fonts/font.css');

:root {
  --color-text-main: #121417;
  --color-text-second: #FCFCFC;

  --color-background-main: #F8F8F8;;
  --color-background-white: #FFFFFF;
  --color-background-accent: #85AA9F;

  --text-font-main: 'MacPaw Fixel Display', sans-serif;
  --text-font-second: 'SF Pro Display', sans-serif;
  --text-font-third: 'SF Pro Text', sans-serif;
}

html {
  box-sizing: border-box;
}

body {
  font-family:  var(--text-font-main);
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.38;
  color: var(--color-text-main);
  background-color: var(--color-background-main);
  width: 100%;
  min-width: 320px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440;
    padding-left: 100px;
    padding-right: 100px;
  }
}
